<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkRpc3RyYWN0aW9u
		IERvZGdlIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMi
		Olt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9u
		IjoiMTguMCJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJEaXN0cmFjdGlvbiBE
		b2RnZSIsInNldHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS50
		aGlzaXNheXVzaHMuRGlzdHJhY3Rpb25Eb2RnZSJdfSx7InRlYW1JZGVudGlm
		aWVyIjpbIjU0NUhVM1hWWDMiXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAi
		XX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJh
		Y2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJy
		YXdWYWx1ZSI6Im1pbnQifX19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6
		InB1YmxpYy5hcHAtY2F0ZWdvcnkucHJvZHVjdGl2aXR5In0sImFwcEljb24i
		OnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6
		W3sicHVycG9zZSI6ImNhbWVyYSIsInB1cnBvc2VTdHJpbmciOiJEaXN0cmFj
		dGlvbiBEb2RnZSB1c2VzIHRoZSBjYW1lcmEgdG8gdHJhY2sgeW91ciBleWUg
		bW92ZW1lbnRzIGFuZCBkZXRlcm1pbmUgeW91ciBmb2N1cyBhcmVhLCBoZWxw
		aW5nIHlvdSBpbXByb3ZlIGF0dGVudGlvbi4ifV0sInN1cHBvcnRlZERldmlj
		ZUZhbWlsaWVzIjpbInBhZCJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRh
		dGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319
		LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7
		ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1d
		LCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUi
		Om51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5j
		aWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNr
		YWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNl
		dHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7
		ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9k
		dWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJj
		ZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0
		b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI2LjAuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		407xCWJ9nbEldxlOSb6SREP1FZFyc1YwTNc8A7/oVXw=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
